<%= form_with(model: edge, local: true) do |form| %>
  <% if edge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(edge.errors.count, "error") %> prohibited this edge from being saved:</h2>

      <ul>
      <% edge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
